<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1f06ebc6ba.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/style.css" />

    <title>My App</title>
</head>
<body>
    <section>
        <header>
            <h1>Random Quote App</h1>
            <div class="quote-icon">
            <img src="/quote-icon-30.png" alt="Quote-icon" height="30px" width="30px"  /> 
            </div>
        </header>
        <main class="layout">
            <div>
                <span class="p-card"> 
                    <h2>Add quote</h2>
                <form action="/quotes" method="POST">
                    <input type="text" placeholder="Name" name="author" autocomplete="off" />
                    <input type="text" placeholder="quote" name="quote" autocomplete="off" /><br /><br />
                    <button type="submit" class="btn customButton small">Submit</button>
                         
                </form>
                </span>
                
            </div>

            <!-- Update button for quotes -->
                <div>
                    <span class="p-card"> 
                        <!-- <h2>Random Quote Generator</h2>
                        <p>Replace first Yoda's quote with a quote written by Darth Vader</p>
                        -->
                       
                        <h2>Generate Quote Generator</h2>
                        <span id="quote-container">
                          <p id="key" name="author"></p>
                          <p id="value" name="quote"></p>
                        </span>
                        <button id="new-quote-btn">Generate Random Quote</button>
                        <button id="updateButton">Add quote to Database</button>    
                       
                    </span>    
                 
                </div>

                <!--
                    Delete Button for the quote  -->
                <div>
                    <span class="p-card">
                        <h2>Delete Quote!</h2>
                        <p>Delete the last quote.</p>
                         <!-- <button id="deleteButton">Delete Yoda's quote</button>  -->
                        <button id="deleteButton">Delete quote</button> 
                     

                                
                        </span>   
                
                 </div>
        </main>
    </section>

    <!-- Quote Section -->

    <section class="sector2">
        <div>
                   
    
            <span id="message"></span>
            <h2>Quotes</h2>
            <ul class="quotes" id="quoteList">
                <% for(let i = 0; i < quotes.length; i++) { %>
                    <li class="quotes">
                        <label for="">
                            <input type="radio" name="<%= quotes[i].author %>" value="<%= quotes[i].quote %>">
                             <%= quotes[i].author %>: <%= quotes[i].quote %>
                        </label>
                    </li>
                    <% } %>
            </ul>
        </div>
      </section>

    <script src="/main.js"></script>
</body>
</html>